In [ ]:
# from notebook.services.config import ConfigManager
# cm = ConfigManager()
# cm.update('livereveal', {
#         'scroll': True,
#         'width': '100%',
#         'height': '100%',
# })

In [1]:
import pandas as pd
import numpy as np

print(pd.__version__)
print(np.__version__)

2.2.2
1.26.4

In [2]:
n_rows = 5
n_cols = 5
cols = tuple('ABCDE')

df = pd.DataFrame(np.random.randint(1, 10, size=(n_rows, n_cols)), 
                  columns=cols)
df

   A  B  C  D  E
0  3  7  8  3  5
1  6  2  4  2  4
2  6  7  4  3  6
3  5  2  6  6  2
4  2  8  8  3  2